// .curved-loop-jacket {
//  min-height: 100vh;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: 100%;
// }

// .curved-loop-svg {
//  user-select: none;
//  width: 100%;
//  aspect-ratio: 100 / 12;
//  overflow: visible;
//  display: block;
//  font-size: 2rem;
//  fill: #3973ef;
//  user-select: none;
//  -moz-user-select: none;
//  -webkit-user-select: none;
//  font-weight: 700;
//  text-transform: uppercase;
//  line-height: 1;
// }


// curvedLoopStyle.scss
.curved-loop-jacket {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 10;
 pointer-events: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 1rem;
}

.curved-loop-svg {
 width: 100%;
 height: auto;
 font-size: clamp(1rem, 4vw, 2.5rem);
 fill: #6f41ff;
 overflow: visible;
 font-weight: bold;
 text-transform: uppercase;
}
